/**
 * Accordion styles
 * Loads on front end and back end
 */
.ttfb-blocks-accordion + .ttfb-block-accordion {
	margin-top: -2rem;
}

.ttfb-blocks-accordion {
    margin-top: 3rem;
    margin-bottom: 3rem;
}