.wp-block-ttfb-blocks-chapter .container-chapter {
  max-width: 900px; }

.wp-block-ttfb-blocks-chapter h1, .wp-block-ttfb-blocks-chapter h2, .wp-block-ttfb-blocks-chapter h3, .wp-block-ttfb-blocks-chapter h4, .wp-block-ttfb-blocks-chapter h5, .wp-block-ttfb-blocks-chapter h6 {
  letter-spacing: 1.5px;
  border-bottom: 1px solid transparent;
  font-size: 2.3rem;
  margin: 0;
  line-height: 1; }

.wp-block-ttfb-blocks-chapter .sup-title {
  font-size: 55%; }

.wp-block-ttfb-blocks-chapter .main-content a {
  color: inherit;
  text-decoration: underline; }

@media (max-width: 40em) {
  .wp-block-ttfb-blocks-chapter .main-content {
    text-align: center; } }
/**
 * Accordion styles
 * Loads on front end and back end
 */
.ttfb-blocks-accordion + .ttfb-block-accordion {
  margin-top: -2rem; }

.ttfb-blocks-accordion {
  margin-top: 3rem;
  margin-bottom: 3rem; }
/**
 * Section styles
 * Loads on front end and back end
 */
.inner-content {
  max-width: 768px; }

/*
 * Fix full width gutenberg section block
 */
.page-template-full-width .entry-content-full .inner-content,
.post-template-full-width .entry-content-full .inner-content {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1200px - 3rem); }
